
    <style>
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh; /* Full viewport height */
        }
        .front_parent_container {
            display: flex;
            gap: 80px; /*间隔调整*/
        }
        .board {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 80px;
            padding: 80px;
            text-align: center;
            width: 200px;
            cursor: pointer;
            transition: transform 0.2s;
        }
        .board:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        h2 {
            margin: 0;
            font-size: 1.5em;
        }
    </style>
<div class="wrapper">
    <div class="front_parent_container">
        <div class="board" onclick="location.href='/Resume/Personal'">
            <h2>个人简历</h2>
        </div>
        <div class="board" onclick="location.href='/Record/Experience'">
            <h2>生活经历</h2>
        </div>
        <div class="board" onclick="location.href='/Function/Nowadays'">
            <h2>信息数据</h2>
        </div>
    </div>
</div>

<script>
    function()
    {
        
    }
</script>